<div class="row header-row">
	<a href="/picsureui/"><img class="logo-img col-md-4" src="{{logoPath}}"></a>
	<a class="col-md-2 btn btn-default header-btn active">Query Builder</a>
    <a class="col-md-2 btn btn-default header-btn" id="admin-btn" href="/psamaui/userManagement"
       style="display:none">Admin
    </a>
	<a class="col-md-2 btn btn-default header-btn" id="user-profile-btn" href="/psamaui/userProfile"
       style="display:none">User Profile
    </a>

  <div class="col-md-1 dropdown btn btn-default header-btn" id="help-dropdown" >
        <span class="dropdown-toggle col-md-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Help</span>
        <ul class="dropdown-menu" role="menu">
            {{#if videoLink}}<li class="dropdown"><a href="{{{videoLink}}}">Video Demonstration</a></li>{{/if}}
	        {{#if pdfLink}}<li class="dropdown"><a href="{{{pdfLink}}}">User Guide</a></li>{{/if}}
            {{#if jupyterExampleLink}}<li class="dropdown"><a href="{{{jupyterExampleLink}}}">Jupyter Examples</a></li>{{/if}}
            {{#if helpLink}}<li class="dropdown"><a href="{{{helpLink}}}">Contact Us</a></li>{{/if}}
    </div>
	<a id="logout-btn" class="col-md-1 btn btn-default header-btn">Log Out</a>
</div>
