<div class="filter-search row">
    <ul class="nav nav-pills">
        {{#each this}}
	        <li data-toggle="tooltip" title="{{description}}" id="{{this}}-pill"><a href="#{{this}}" data-toggle="tab" aria-expanded="true">{{this}}</a></li>
        {{/each}}
    </ul>

    <div class="tab-content">
	    	{{#each this}}
			<div class="tab-pane" id="{{this}}">
				<div class="result-subcategories-div"></div>
				<div class="search-result-list"></div>
			</div>
		{{/each}}
	</div>

</div>
