<div class="filter-search row">
    <ul class="nav nav-pills" data-intro="#search-results-categories" data-sequence="5">
    	
        {{#each aliases}}
	        <li data-toggle="tooltip"  title="{{description}}" id="{{this.alias}}-pill"><a data-target="#{{../filterId}}  #{{this.alias}}" data-toggle="tab" aria-expanded="true">{{this.alias}}</a></li>
        {{/each}}
    </ul>

    <div class="tab-content">
	    	{{#each aliases}}
			<div class="tab-pane" id="{{this.alias}}">
				<div class="result-subcategories-div"></div>
				<div class="search-result-list"></div>
			</div>
		{{/each}}
	</div>

</div>
